@import "variables";
@import "utils/fontface";
@import "utils/helpers";
@import "utils/keyframes";
@import "utils/settings";
@import "utils/toggle-expand";
@import "foundation";

@include foundation-everything();

@import "utils/mixins";
@import "utils/flex";
@import "plugins/foundation-datepicker";
@import "decidim/modules/data-picker";
@import "modules/modules";
@import "plugins/jquery.auto-complete";
@import "custom";
@import "components/autocomplete_select.component";
@import "bundle";

.picker {
  cursor: crosshair;
  float: left;
  &-indicator {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
  }
  &-wrapper {
    position: relative;
    float: left;
  }
}

.slide {
  cursor: crosshair;
  float: left;
  &-wrapper {
    position: relative;
    float: left;
  }

  &-indicator {
    position: absolute;
    left: 0;
    top: 10px;
    pointer-events: none;
  }
}

.cp {
  &-reset {
    clear: both;
  }
  &-normal {
    padding: 10px;
    background-color: white;
    float: left;
    border: 4px solid #d6d6d6;
    box-shadow: inset 0 0 10px white;

    .picker {
      width: 11rem;
      height: 11rem;
    }

    .slide {
      width: 1.5rem;
      height: 11rem;
    }

    .slide-wrapper {
      margin-left: 10px;
    }

    .picker-indicator {
      width: 5px;
      height: 5px;
      border: 1px solid gray;
      opacity: .5;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
      filter: alpha(opacity=50);
      background-color: white;
      pointer-events: none;
    }

    .slide-indicator {
      width: 100%;
      height: 10px;
      opacity: .6;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
      filter: alpha(opacity=60);
      border: 4px solid gray;
      background-color: white;
      pointer-events: none;
    }
  }
}
