<% if devise_mapping.omniauthable? && any_social_provider_enabled? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <% if social_provider_enabled? provider %>
      <div class="actions">
        <%= link_to decidim.send("user_#{provider}_omniauth_authorize_path"), class: "button expanded" do %>
          <%= t("devise.shared.links.sign_in_with_provider", provider: normalize_provider_name(provider).titleize) %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
